<?xml version="1.0" encoding="UTF-8"?>
<!--
    Copyright (c) 2015 MasterSoft.
    Team Java
    All rights reserved.
 -->

<beans:beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:security="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<beans:import resource="servlet-context.xml"/>

<security:http auto-config="true" use-expressions="true" >
		<security:intercept-url pattern="/**" access="isAuthenticated()" />
		<security:form-login default-target-url="/hi"  authentication-success-handler-ref="authenticationSuccessHandler"/>
	</security:http>

	<security:authentication-manager>
	  <!-- <security:authentication-provider>
	    <security:user-service>
		<security:user name="roshan" password="123456" authorities="ROLE_USER,ROLE_ADMIN" />
		<security:user name="admin" password="123456" authorities="ROLE_ADMIN" />
	    </security:user-service>
	  </security:authentication-provider > -->
	 		
	  <security:authentication-provider user-service-ref="userDetailsService">
	  	
	  </security:authentication-provider>
	</security:authentication-manager>
	
</beans:beans>
